In [2]:
!pip install sklearn --user

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Collecting scikit-learn
  Downloading scikit_learn-1.0.1-cp38-cp38-macosx_10_13_x86_64.whl (7.9 MB)
     |████████████████████████████████| 7.9 MB 5.3 MB/s
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.0.0-py3-none-any.whl (14 kB)
Requirement already satisfied: scipy>=1.1.0 in /Users/parkdonghyeok/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.7.1)
Requirement already satisfied: numpy>=1.14.6 in /Users/parkdonghyeok/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.21.3)
Collecting joblib>=0.11
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
     |████████████████████████████████| 306 kB 11.6 MB/s
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1309 sha256=4fe2e349edde65b741a341e83cf26156ca361d36c7efd7b48c5866da69255202
  Stored in directory: /Users/parkdonghyeok/Library/Caches/pip/wheels/22/0b/40/fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897
Successfully built sklearn
Installing collected packages: threadpoolctl, joblib, scikit-learn, sklearn
Successfully installed joblib-1.1.0 scikit-learn-1.0.1 sklearn-0.0 threadpoolctl-3.0.0

In [4]:
import pandas as pd
from sklearn.metrics import mean_squared_error

In [5]:
ser_ture_value = pd.Series([1, 2, 3, 4, 5, 6, 7, 8])
ser_pred_value = pd.Series([2, 1, 4, 3, 2, 5, 7, 6])

In [6]:
mean_squared_error(ser_ture_value, ser_pred_value)

2.25

In [7]:
mean_squared_error(ser_ture_value, ser_pred_value) ** 0.5

1.5

In [8]:
from sklearn.model_selection import train_test_split

In [10]:
bike = pd.read_csv("bike.csv")
bike.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [11]:
bike_train, bike_test = train_test_split(bike, train_size = 0.7)
print(len(bike_train))
print(len(bike_test))

7620
3266

In [12]:
bike_train, bike_test = train_test_split(bike, test_size = 0.3)

print(len(bike_train))
print(len(bike_test))

7620
3266

In [18]:
bike_train, bike_test = train_test_split(bike, test_size = 0.3, random_state = 123)
bike_test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
6495,2012-03-07 21:00:00,1,0,1,1,18.04,21.970,62,16.9979,11,177,188
7050,2012-04-12 03:00:00,2,0,1,1,13.12,15.150,61,16.9979,2,3,5
558,2011-02-06 10:00:00,1,0,0,1,12.30,14.395,52,16.9979,15,74,89
5085,2011-12-05 23:00:00,4,0,1,2,18.86,22.725,88,8.9981,8,54,62
3328,2011-08-08 14:00:00,3,0,1,1,33.62,37.120,43,19.9995,41,109,150

In [20]:
bike_train.reset_index(drop = True)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-09-19 15:00:00,3,0,1,2,24.60,30.305,60,15.0013,44,143,187
1,2012-09-09 07:00:00,3,0,0,1,22.14,25.760,73,11.0014,20,50,70
2,2012-03-04 07:00:00,1,0,0,2,12.30,13.635,52,19.9995,2,21,23
3,2012-02-09 09:00:00,1,0,1,1,8.20,9.850,59,15.0013,9,229,238
4,2012-03-17 07:00:00,1,0,0,2,16.40,20.455,100,8.9981,29,57,86
...,...,...,...,...,...,...,...,...,...,...,...,...
7615,2012-10-12 02:00:00,4,0,1,1,16.40,20.455,66,6.0032,0,16,16
7616,2012-06-03 20:00:00,2,0,0,1,27.06,31.060,39,12.9980,84,230,314
7617,2011-12-11 12:00:00,4,0,0,1,10.66,15.150,35,0.0000,42,246,288
7618,2011-04-01 23:00:00,2,0,1,1,12.30,15.910,61,6.0032,12,41,53
7619,2011-08-19 04:00:00,3,0,1,1,26.24,28.790,83,0.0000,1,7,8

In [23]:
iris = pd.read_excel("iris_xlsx.xlsx")
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [24]:
iris_sub = iris.iloc[:2, :-1]
iris_sub.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2

In [25]:
iris_sub.columns = ["A", "B", "C", "d"]
iris_sub

     A    B    C    d
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2

In [26]:
iris_sub_t = iris_sub.transpose()
iris_sub_t

     0    1
A  5.1  4.9
B  3.5  3.0
C  1.4  1.4
d  0.2  0.2

In [27]:
iris_sub_t["diff_sq"] = (iris_sub_t[0] - iris_sub_t[1]) ** 2
iris_sub_t

     0    1  diff_sq
A  5.1  4.9     0.04
B  3.5  3.0     0.25
C  1.4  1.4     0.00
d  0.2  0.2     0.00

In [28]:
iris_sub_t["diff_sq"].sum() ** 0.5

0.5385164807134502

In [29]:
from scipy.spatial.distance import euclidean

In [30]:
euclidean(iris_sub_t[0], iris_sub_t[1])

0.5385164807134502

In [31]:
sl_min = iris["Sepal.Length"].min()
sl_max = iris["Sepal.Length"].max()
iris["SL_MM"] = (iris["Sepal.Length"] - sl_min) / (sl_max - sl_min)
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species     SL_MM
0           5.1          3.5           1.4          0.2  setosa  0.222222
1           4.9          3.0           1.4          0.2  setosa  0.166667
2           4.7          3.2           1.3          0.2  setosa  0.111111
3           4.6          3.1           1.5          0.2  setosa  0.083333
4           5.0          3.6           1.4          0.2  setosa  0.194444

In [34]:
pl_mean = iris["Petal.Length"].mean()
pl_std = iris["Petal.Length"].std()
iris["PL_std"] = (iris["Petal.Length"] - pl_mean) / pl_std
print(iris["PL_std"].mean())
print(iris["PL_std"].std())

-2.842170943040401e-16
1.0000000000000002

In [36]:
def nor_mm(x):
    x_min = x.min()
    x_max = x.max()
    ret = (x - x_min) / (x_max - x_min)
    return ret

In [39]:
nor_mm(pd.Series([1,2,3,4,5]))

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64

In [42]:
def nor_std(x):
    x_mean = x.mean()
    x_std = x.std()
    ret = (x - x_mean) / x_std
    return ret

In [43]:
nor_std(pd.Series([1,2,3,4,5]))

0   -1.264911
1   -0.632456
2    0.000000
3    0.632456
4    1.264911
dtype: float64

In [44]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [61]:
model_mm = MinMaxScaler().fit_transform(iris[["Sepal.Length"]])
model_mm[:5, ]

array([[0.22222222],
       [0.16666667],
       [0.11111111],
       [0.08333333],
       [0.19444444]])

In [58]:
print(model_mm.min())
print(model_mm.max())

0.0
1.0

In [62]:
model_nor = StandardScaler().fit_transform(iris[["Sepal.Length"]])
model_nor[:5, ]

array([[-0.90068117],
       [-1.14301691],
       [-1.38535265],
       [-1.50652052],
       [-1.02184904]])

In [64]:
print(model_nor.mean())
print(model_nor.std())

-4.736951571734001e-16
1.0

In [68]:
import sklearn
dir(sklearn)

['__SKLEARN_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__check_build',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_distributor_init',
 '_loss',
 'base',
 'clone',
 'config_context',
 'exceptions',
 'externals',
 'get_config',
 'logger',
 'logging',
 'metrics',
 'model_selection',
 'os',
 'preprocessing',
 'random',
 'set_config',
 'setup_module',
 'show_versions',
 'sys',
 'utils']

In [70]:
!pip install stats --user

Collecting stats
  Downloading stats-0.1.2a.tar.gz (127 kB)
     |████████████████████████████████| 127 kB 4.1 MB/s
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: stats
  Building wheel for stats (setup.py) ... done
  Created wheel for stats: filename=stats-0.1.2a0-py3-none-any.whl size=24297 sha256=40ebd9aaaaf85648c83b20baf413bf76dd9f8cf1f09f59d26d0538153b5487c1
  Stored in directory: /Users/parkdonghyeok/Library/Caches/pip/wheels/64/d6/01/2701e2703a6fbd73f8b994044b8bf1b154cc7808bd1b88df49
Successfully built stats
Installing collected packages: stats
Successfully installed stats-0.1.2a0

In [71]:
import stats
dir(stats)

['QUANTILE_DEFAULT',
 'QUARTILE_DEFAULT',
 'StatsError',
 'Sxx',
 'Sxy',
 'Syy',
 '_DOWN',
 '_EVEN',
 '_Multivariate',
 '_Quantiles',
 '_Quartiles',
 '_SP',
 '_SS',
 '_UP',
 '__all__',
 '__author__',
 '__author_email__',
 '__builtins__',
 '__cached__',
 '__date__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 '_corr2',
 '_generalised_sum',
 '_interpolate',
 '_parametrized_quantile',
 '_round',
 '_terriberry',
 '_validate_int',
 '_welford',
 'add_partial',
 'as_sequence',
 'average_deviation',
 'circular_mean',
 'collections',
 'coroutine',
 'corr',
 'corr1',
 'count_elems',
 'cov',
 'cumulative_sum',
 'decile',
 'errsumsq',
 'feed',
 'functools',
 'geometric_mean',
 'harmonic_mean',
 'hinges',
 'iqr',
 'itertools',
 'kurtosis',
 'linr',
 'math',
 'mean',
 'median',
 'median_average_deviation',
 'midhinge',
 'midrange',
 'minmax',
 'mode',
 'operator',
 'pcov',
 'pearson_mode_skewness',
 'percentile',
 'product',
 'pstdev',
 'pstdev1',
 'pvariance',
 'pvariance1',
 'qcorr',
 'quadratic_mean',
 'quantile',
 'quartile_skewness',
 'quartiles',
 'range',
 'running_average',
 'running_sum',
 'simple_moving_average',
 'skewness',
 'sorted_data',
 'stderrkurtosis',
 'stderrskewness',
 'stdev',
 'stdev1',
 'sterrmean',
 'sum',
 'sumsq',
 'trimean',
 'variance',
 'variance1',
 'weighted_running_average',
 'xsums',
 'xysums']

In [76]:
import scipy.stats
dir(scipy.stats)

['F_onewayBadInputSizesWarning',
 'F_onewayConstantInputWarning',
 'NumericalInverseHermite',
 'PearsonRConstantInputWarning',
 'PearsonRNearConstantInputWarning',
 'SpearmanRConstantInputWarning',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_binned_statistic',
 '_binomtest',
 '_boost',
 '_bootstrap',
 '_common',
 '_constants',
 '_continuous_distns',
 '_crosstab',
 '_discrete_distns',
 '_distn_infrastructure',
 '_distr_params',
 '_entropy',
 '_hypotests',
 '_ksstats',
 '_mannwhitneyu',
 '_multivariate',
 '_page_trend_test',
 '_qmc',
 '_qmc_cy',
 '_relative_risk',
 '_rvs_sampling',
 '_sobol',
 '_stats',
 '_stats_mstats_common',
 '_tukeylambda_stats',
 '_wilcoxon_data',
 'alexandergovern',
 'alpha',
 'anderson',
 'anderson_ksamp',
 'anglit',
 'ansari',
 'arcsine',
 'argus',
 'barnard_exact',
 'bartlett',
 'bayes_mvs',
 'bernoulli',
 'beta',
 'betabinom',
 'betaprime',
 'biasedurn',
 'binned_statistic',
 'binned_statistic_2d',
 'binned_statistic_dd',
 'binom',
 'binom_test',
 'binomtest',
 'boltzmann',
 'bootstrap',
 'boschloo_exact',
 'boxcox',
 'boxcox_llf',
 'boxcox_normmax',
 'boxcox_normplot',
 'bradford',
 'brunnermunzel',
 'burr',
 'burr12',
 'cauchy',
 'chi',
 'chi2',
 'chi2_contingency',
 'chisquare',
 'circmean',
 'circstd',
 'circvar',
 'combine_pvalues',
 'contingency',
 'cosine',
 'cramervonmises',
 'cramervonmises_2samp',
 'crystalball',
 'cumfreq',
 'describe',
 'dgamma',
 'differential_entropy',
 'dirichlet',
 'distributions',
 'dlaplace',
 'dweibull',
 'energy_distance',
 'entropy',
 'epps_singleton_2samp',
 'erlang',
 'expon',
 'exponnorm',
 'exponpow',
 'exponweib',
 'f',
 'f_oneway',
 'fatiguelife',
 'find_repeats',
 'fisher_exact',
 'fisk',
 'fligner',
 'foldcauchy',
 'foldnorm',
 'friedmanchisquare',
 'gamma',
 'gausshyper',
 'gaussian_kde',
 'genexpon',
 'genextreme',
 'gengamma',
 'genhalflogistic',
 'genhyperbolic',
 'geninvgauss',
 'genlogistic',
 'gennorm',
 'genpareto',
 'geom',
 'gilbrat',
 'gmean',
 'gompertz',
 'gstd',
 'gumbel_l',
 'gumbel_r',
 'halfcauchy',
 'halfgennorm',
 'halflogistic',
 'halfnorm',
 'hmean',
 'hypergeom',
 'hypsecant',
 'invgamma',
 'invgauss',
 'invweibull',
 'invwishart',
 'iqr',
 'itemfreq',
 'jarque_bera',
 'johnsonsb',
 'johnsonsu',
 'kappa3',
 'kappa4',
 'kde',
 'kendalltau',
 'kruskal',
 'ks_1samp',
 'ks_2samp',
 'ksone',
 'kstat',
 'kstatvar',
 'kstest',
 'kstwo',
 'kstwobign',
 'kurtosis',
 'kurtosistest',
 'laplace',
 'laplace_asymmetric',
 'levene',
 'levy',
 'levy_l',
 'levy_stable',
 'linregress',
 'loggamma',
 'logistic',
 'loglaplace',
 'lognorm',
 'logser',
 'loguniform',
 'lomax',
 'mannwhitneyu',
 'matrix_normal',
 'maxwell',
 'median_abs_deviation',
 'median_absolute_deviation',
 'median_test',
 'mielke',
 'mode',
 'moment',
 'mood',
 'morestats',
 'moyal',
 'mstats',
 'mstats_basic',
 'mstats_extras',
 'multinomial',
 'multiscale_graphcorr',
 'multivariate_hypergeom',
 'multivariate_normal',
 'multivariate_t',
 'mvn',
 'mvsdist',
 'nakagami',
 'nbinom',
 'ncf',
 'nchypergeom_fisher',
 'nchypergeom_wallenius',
 'nct',
 'ncx2',
 'nhypergeom',
 'norm',
 'normaltest',
 'norminvgauss',
 'obrientransform',
 'ortho_group',
 'page_trend_test',
 'pareto',
 'pearson3',
 'pearsonr',
 'percentileofscore',
 'planck',
 'pointbiserialr',
 'poisson',
 'power_divergence',
 'powerlaw',
 'powerlognorm',
 'powernorm',
 'ppcc_max',
 'ppcc_plot',
 'probplot',
 'qmc',
 'randint',
 'random_correlation',
 'rankdata',
 'ranksums',
 'rayleigh',
 'rdist',
 'recipinvgauss',
 'reciprocal',
 'relfreq',
 'rice',
 'rv_continuous',
 'rv_discrete',
 'rv_histogram',
 'rvs_ratio_uniforms',
 'scoreatpercentile',
 'sem',
 'semicircular',
 'shapiro',
 'siegelslopes',
 'sigmaclip',
 'skellam',
 'skew',
 'skewcauchy',
 'skewnorm',
 'skewtest',
 'somersd',
 'spearmanr',
 'special_ortho_group',
 'statlib',
 'stats',
 'studentized_range',
 't',
 'test',
 'theilslopes',
 'tiecorrect',
 'tmax',
 'tmean',
 'tmin',
 'trapezoid',
 'trapz',
 'triang',
 'trim1',
 'trim_mean',
 'trimboth',
 'truncexpon',
 'truncnorm',
 'tsem',
 'tstd',
 'ttest_1samp',
 'ttest_ind',
 'ttest_ind_from_stats',
 'ttest_rel',
 'tukeylambda',
 'tvar',
 'uniform',
 'unitary_group',
 'variation',
 'vonmises',
 'vonmises_line',
 'wald',
 'wasserstein_distance',
 'weibull_max',
 'weibull_min',
 'weightedtau',
 'wilcoxon',
 'wishart',
 'wrapcauchy',
 'yeojohnson',
 'yeojohnson_llf',
 'yeojohnson_normmax',
 'yeojohnson_normplot',
 'yulesimon',
 'zipf',
 'zipfian',
 'zmap',
 'zscore']